<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChReddit</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Trending posts</a></li>
            <li>
                <a href="/submit" id="open_submit">
                    <span class="glyphicon glyphicon-user">
                    </span> Submit new post
                </a>
                <div id="submit" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a th:if="${#authentication instanceof T(org.springframework.security.authentication.AnonymousAuthenticationToken)}"
                   href="/registration" id="open_registration">
                    <span class="glyphicon glyphicon-user">
                    </span> Sign Up
                </a>
                <div id="registration" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </li>
            <li>

                <a th:if="${#authentication instanceof T(org.springframework.security.authentication.AnonymousAuthenticationToken)}"
                   href="/login" id="open_login">
                    <span class="glyphicon glyphicon-log-in">
                    </span> Login
                </a>
                <div id="login" class="modal fade text-center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a th:if="${!(#authentication instanceof T(org.springframework.security.authentication.AnonymousAuthenticationToken))}"
                   href="/userdetails" id="open_userDetails">
                    <span class="glyphicon glyphicon-user" th:text="' ' + ${#authentication.getName()}">
                    </span>
                </a>
                <div id="userDetails" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Likes</th>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Creation date</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}" >
            <th scope="row" class="col-lg-1" th:text="${post.score}"></th>
            <td class="col-lg-2">
                <div class="row">
                    <div class="col-lg-1">
                        <form th:method="POST" th:action="@{upvote}" th:object="${post}">
                            <div class="form-group">
                                <input type="hidden" th:value="${post.id}" th:name="id">
                                <button class="btn btn-primary btn-sm glyphicon glyphicon-thumbs-up" type="submit"
                                        value="Submit"></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <form th:method="POST" th:action="@{downvote}" th:object="${post}">
                            <div class="form-group">
                                <input type="hidden" th:value="${post.id}" th:name="id">
                                <button class="btn btn-danger btn-sm glyphicon glyphicon-thumbs-down" type="submit"
                                        value="Submit"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
            <td class="col-lg-6" th:text="${post.title}"></td>
            <td class="col-lg-2" th:text="${#dates.format(post.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td class="col-lg-2" th:text="${post.user.username}"></td>
        </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li th:class="${posts.isFirst()}?'disabled':''">
                        <span th:if='${posts.isFirst()}'>← First</span>
                        <a th:if='${not posts.isFirst()}' th:href='@{/(page=1)}'>←
                            First</a>
                    </li>
                    <li th:class="${posts.hasPrevious()}? '' : 'disabled'">
                        <span th:if='${not posts.hasPrevious()}'>«</span>
                        <a th:if='${posts.hasPrevious()}'
                           th:href='@{/(page=${page - 1})}'
                           title='Go to previous page'>«</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0,posts.totalPages)}"
                        th:class="${posts.number == i - 1}? 'active' : ''">
                        <a th:if="${i} >= 1" th:href="@{/(page=${i})}" th:text="${i}" class="page-link"></a>
                    </li>
                    <li th:class="${posts.hasNext()}? '' : 'disabled'">
                        <span th:if='${not posts.hasNext()}'>»</span>
                        <a th:if='${posts.hasNext()}'
                           th:href='@{/(page=${page + 1})}'
                           title='Go to next page'>»</a>
                    </li>
                    <li th:class="${posts.isLast()}?'disabled':''">
                        <span th:if='${posts.isLast()}'>Last →</span>
                        <a th:if='${not posts.isLast()}' th:href='@{/(page=${posts.totalPages-1})}'>Last →</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>


<script>
    $('#open_registration').on('click', function(e){
        e.preventDefault();
        $('#registration').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('#open_login').on('click', function(e){
        e.preventDefault();
        $('#login').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('#open_submit').on('click', function(e){
        e.preventDefault();
        $('#submit').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $('#open_userDetails').on('click', function(e){
        e.preventDefault();
        $('#userDetails').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>
</body>
</html>