<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
<body>
<h1 class="text-center">Submit new post</h1>
            <form th:method="POST" th:action="@{../submit}" th:object="${post}" >
                <div class="form-group">
                    <input type="text" placeholder="Title" th:field="*{title}" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="URL" th:field="*{url}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
                </div>
            </form>

</body>
</html>