<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
<div>
    <a href="/todo/add">Add new todo</a>
    <h1>Todos for today</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${todo}" >
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{urgent}"></td>
            <td th:text="*{done}"></td>
            <td th:text="*{creationDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>