<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
<div>
    <a href="/todo/add">Add new todo</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td><a th:text="${todo.title}" th:href="|${todo.id}/describe|"></a></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
            <td><a th:href="|${todo.id}/delete|" th:text="delete"></a></td>
            <td><a th:href="|${todo.id}/edit|" th:text="edit"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>