body {
    background: rgb(220, 220, 220);
}

form {
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 4%;
    color: #555555;
    
}

.forgot_password {
    text-align: right;
    font-size: 0.8em;
}

#account_login {
    text-transform: uppercase;
    margin: 0% 0 10% 0;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    display:block;
    margin: 0% 0 5% 0;
    font-size: 0.9em;
    border-radius: 5%;
    border: 1px solid lightgray;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid green;
}

input[type="submit"] {
    border: 0px;
    border-radius: 10px;
    background-color: #555555;
    padding: 5%;
    color: white;
    width: 40%;
    margin: 10% 0 0% 0;
}

.show_pass {
    width: 5%;
    float: right;
    margin-left: -25px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
}
